---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  cursor: default;
}

a img {
  //border: 1px solid white;
  padding: 4px;
  //margin: 4px;
  opacity: 0.95;
  transform: scale(1, 1);
  &:hover {
    //border: 1px solid black;
    //box-shadow: rgba(0,0,0,0.3) 0px 0px 8px;
    opacity: 1.0;
    transform: scale(1.0, 1.0);
    transition: opacity 0.1s, transform 0.1s;
    transition-timing-function: ease-in-out;
  }
}

h2 {
  font-weight: bold;
}

h3 {
  font-style: italic;
  font-weight: normal;
}


#sidebar-wrapper {
  background: #2c2a38;
  /*
  overflow-y: hidden;
  overflow-x: hidden;
  */
  overflow-y: scroll;
  overflow-x: hidden;
}
#sidebar-wrapper .sidebar-nav {
  /*
  overflow-y: scroll;
  overflow-x: hidden;
  */
}
.sidebar-nav li {
  list-style-type: none;
}
.sidebar-nav li a {
  color: #6c6a82;
}
.sidebar-nav li a.active-children {
  color: #999;
}
.sidebar-nav li a.active-children.active {
  color: #fff;
}
.sidebar-nav li a.active {
  background: #6a6683;
}
.sidebar-nav li a:hover {
  background: #525061;
}


#sidebar2-wrapper {
  background: #2c2a38;
}
.sidebar2-nav li {
  list-style-type: none;
}
.sidebar2-nav li a {
  color: #6c6a82;
}
.sidebar2-nav li a.active {
  background: #6a6683;
}
.sidebar2-nav li a:hover {
  background: #525061;
}


#markdown-toc {
  /*column-count: 2;*/
}

a.entry-item {
  position: relative;
}

span.children::before {
  //color: red;
  position: absolute;
  left: -1.2em;
  font-size: 0.7em;
}

span.children.active::before {
  content: '▼';
}
span.children.inactive::before {
  content: '►';
}

body {
  background: #242233;
  color: white;
}

#page-content-wrapper {
  a, a:visited {
    /*
    border-bottom: 1px dotted #ff9f9f;
    */
    color: #734c8d;
    &:hover {
      color: #d9c3e7;
      text-decoration: none;
    }
    img {
      opacity: 0.9;
      /*border: 1px dotted #ffa0a0;*/
      padding: 4px;
    }
    &:hover img {
      opacity: 1.0;
      padding: 2px;
      border: 2px solid black;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    //color: #4b17a9;
    color: #bbb;
    //margin-top: 30px;
  }
  
  p, div {
    //color: #4b17a9;
    color: #999999;
  }
}

#page-content2 {
  margin-top: 50px;
  line-height: 2em;
}

.navbar-default {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.2);
  border: none;

  .navbar-nav {
    &>.active> {
      a, a:focus, a:hover {
        color: #a8a3bd;
        background-color: #463c64;
      }
      a:hover {
        color: white !important;
      }
    }
    &>li {
      a {
        color: #aaaaaa;

        &:hover {
          color: white;
        }
      }
    }
  }
}

div.highlight, div.highlighter-rouge {
  background: none !important;
}

code.highlighter-rouge {
  color: #bfb6cf;
  background: rgb(53, 50, 59) !important;
  border: 1px solid rgb(62, 54, 65);
  font-size: inherit;
}

pre.highlight {
  color: #bfb6cf;
  font-size: inherit;

  background: rgb(53, 50, 59) !important;
  border: none;
  //border: 1px solid rgb(114, 100, 119);
  //border-radius: 0.5em;
}

.form-control {
  background-color: #223
}

.btn-default {
  color: #aaa;
  background-color: #223;
  &:hover {
    color: #fff;
    background-color: #223;
  }
}

h2 {
    margin-top: 1.1em;
}

h3 {
    margin-top: 1em;
}

.highlight .err {
    color: inherit;
    background: transparent !important;
}