---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  cursor: default;
}

.navbar-default {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
}

#page-content2 {
  margin-top: 50px;
  line-height: 1.7em;
}

a img {
  //border: 1px solid white;
  padding: 4px;
  //margin: 4px;
  opacity: 0.95;
  transform: scale(1, 1);
  &:hover {
    //border: 1px solid black;
    //box-shadow: rgba(0,0,0,0.3) 0px 0px 8px;
    opacity: 1.0;
    transform: scale(1.0, 1.0);
    transition: opacity 0.1s, transform 0.1s;
    transition-timing-function: ease-in-out;
  }
}

h2 {
  font-weight: bold;
}

h3 {
  font-style: italic;
  font-weight: bold;
  color: #7d56b9 !important;
}


code.highlighter-rouge {
  color: blue;
}

a code.highlighter-rouge {
  color: red;
}
.navbar-default {
  background: #e1dff1;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #6c5d8e;
  background-color: #c4c0de;
}
.navbar-default .navbar-nav>li>a {
  color: #68638e;
}

#sidebar-wrapper {
  background: #2c2a38;
  /*
  overflow-y: hidden;
  overflow-x: hidden;
  */
  overflow-y: scroll;
  overflow-x: hidden;
}
#sidebar-wrapper .sidebar-nav {
  /*
  overflow-y: scroll;
  overflow-x: hidden;
  */
}
.sidebar-nav li {
  list-style-type: none;
}
.sidebar-nav li a {
  color: #6c6a82;
}
.sidebar-nav li a.active {
  background: #6a6683;
}
.sidebar-nav li a:hover {
  background: #525061;
}


#sidebar2-wrapper {
  background: #2c2a38;
}
.sidebar2-nav li {
  list-style-type: none;
}
.sidebar2-nav li a {
  color: #6c6a82;
}
.sidebar2-nav li a.active {
  background: #6a6683;
}
.sidebar2-nav li a:hover {
  background: #525061;
}

#page-content-wrapper a:visited {
  color: #cc208e;
}
#page-content-wrapper a {
  /*
  border-bottom: 1px dotted #ff9f9f;
  */
  text-decoration: underline;
  color: #cc208e;
}
#page-content-wrapper a:hover {
  /*
  border-bottom: 1px solid red;
  text-decoration: none;
  */
  color: red;
}
#page-content-wrapper a img {
}
#page-content-wrapper a img {
  opacity: 0.9;
  /*border: 1px dotted #ffa0a0;*/
  padding: 4px;
}
#page-content-wrapper a:hover img {
  opacity: 1.0;
  padding: 2px;
  border: 2px solid black;
}
h1, h2, h3, h4, h5 {
  color: #4b17a9;
}
#page-content-wrapper p, #page-content-wrapper div {
  color: #4b17a9;
}

#markdown-toc {
  /*column-count: 2;*/
}