{%- assign next_level = include.level + 1 -%}
{%- assign entries = site.pages | sort: "priority", "last" -%}
<ul>
{%- for entry in entries -%}
    {%- assign entry_url=entry.url -%}
    {%- assign entry_url_size=entry_url|size -%}
    {%- assign slug = entry_url | split: "/" | last -%}
    {%- assign slug_size = slug|size -%}
    {%- assign minus_slug_size = entry_url_size|minus:slug_size|minus:1 -%}
    {%- assign current = entry_url | slice: 0,minus_slug_size -%}
    {%- if page.url contains entry.url -%}
    {%- assign is_active = true -%}
    {%- else -%}
    {%- assign is_active = false -%}
    {%- endif -%}

    {%- if current == include.context -%}
    <li class="{% if is_active %}active{% endif %} {{ entry.entryclass }}">
        <a href="{{ entry.url | relative_url }}" class="{% if is_active %}active{% endif %} entry-item {% if entry.children and is_active %}active-children{% endif %}">
            <span class="{% if entry.children %}children{% endif %} {% if is_active %}active{% else %}inactive{% endif %}"></span>
            {%- if entry.fa-icon -%}
            <i class="fa {{ entry.fa-icon }}"></i>&nbsp;
            {%- endif -%}
            {%- if entry.css-icon -%}
            <i class="{{ entry.css-icon }}"></i>&nbsp;
            {%- endif -%}
            {{ entry.title }}
            {% case entry.status %}
                {% when "new" %}<span class="label label-success" style="opacity: 0.9">New</span>
                {% when "updated" %}<span class="label label-info" style="opacity: 0.9">Updated</span>
                {% when "outdated" %}<span class="label label-default" style="opacity: 0.2">Outdated Doc.</span>
                {% when "incomplete" %}<span class="label label-warning" style="opacity: 0.2">Partial Doc.</span>
                {% when "experimental" %}<span class="label label-warning" style="opacity: 0.2">Experimental</span>
                {% when "todo" %}<span class="label label-danger" style="opacity: 0.2">Missing Doc.</span>
            {% endcase %}
        </a>

        {%- if entry.children and is_active -%}
            {%- include toc.html context=entry.children level=next_level -%}
        {%- endif -%}
    </li>
    {%- endif -%}

{%- endfor -%}
</ul>
