<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Korlibs: {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/simple-sidebar.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/fontawesome-free-5.7.1-web/css/all.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/font-mfizz.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" media="print"  href="{{ "/css/print.css" | prepend: site.baseurl }}">

  <link rel="icon" href="{{ "/i/icon.png" | prepend: site.baseurl }}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/js/navigation.js" | prepend: site.baseurl }}" type="text/javascript"></script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="padding:10px;">
          <img alt="Korlibs" src="/i/logos/korlibs.svg" width="32" height="32" style="display: inline;" />
		  Soywiz's Korlibs
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <form class="collapse navbar-collapse navbar-form navbar-right" role="search" action="/search" style="padding-left:20px;">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="searchq" name="q" />
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://korge.soywiz.com/"><i class="fa fa-gamepad" aria-hidden="true"></i> KorGE</a></li>
            <li class="active"><a href="/"><i class="fa fa-book" aria-hidden="true"></i> Documentation</a></li>
            <li><a href="https://forum.soywiz.com/"><i class="fa fa-comments" aria-hidden="true"></i> Forum</a></li>
            <li><a href="https://soywiz.com/"><i class="fab fa-wordpress" aria-hidden="true"></i> Blog</a></li>
            <li><a href="{{ site.project_url }}" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Github</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="print_hide">
          <div class="sidebar-nav" style="padding-top:16px;margin-top:50px;margin-bottom:1em;" >
            {% include toc.html context="/" level=0 %}
          </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" id="page-content2">
                        <div id="page-content">
                            <div class="github_edit_page print_hide" style="float: right;position:relative;top:-0.6em;">
                                <a href="https://github.com/korlibs/korlibs.soywiz.com/edit/master/{{ page.path }}" class="btn btn-default" target="_blank">
                                    <i class="fab fa-github" aria-hidden="true" style="font-size:1.5em;"></i> Edit Page
                                </a>
                            </div>
                            {% if page.hide_title != true %}
                            <h1>{% if page.title_icon %}<i class="{{ page.title_icon }}" aria-hidden="true"></i> {% endif %}{{ page.title }}</h1>
                            {% endif %}
                            {% case page.status %}
                              {% when 'todo' %}
                                 <div class="alert alert-warning" role="alert">This page has to be written</div>
                              {% when 'outdated' %}
                                 <div class="alert alert-warning" role="alert">This page is outdated</div>
                              {% when 'incomplete' %}
                                <div class="alert alert-warning" role="alert">This page is incomplete</div>
                              {% else %}
                            {% endcase %}
                            {{ content }}
                        </div>

						{% if site.disqus_id %}
							<div id="disqus_thread" class="print_hide" style="margin-top:80px;"></div>
							<script type="text/javascript" id="disqus-script">
								var disqus_config = function () {
									this.page.url = '{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}';
									this.page.identifier = '{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}';
								};
								(function() {
									var d = document, s = d.createElement('script');
									s.src = '//{{ site.disqus_id }}.disqus.com/embed.js';
									s.setAttribute('data-timestamp', +new Date());
									(d.head || d.body).appendChild(s);
								})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
						{% endif %}
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar2-wrapper" class="print_hide">
              <div class="sidebar2-nav">
                {% include toc.html %}
              </div>
            </div>
            <!-- /#sidebar-wrapper -->

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>

</html>
